#wrapper{
    width:90%;
    font-family:sans-serif,serif;
    display: flexbox;
}
nav{
    background-color:royalblue;
    color: white;
}
body{
    background-color: salmon;
    height: auto;
    margin: 0;
}
section{
    height:100vh;
    padding: 20px;
}
ul{
    
}
#skills{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}
footer{
    background-color: aqua;
    color: black;
    padding: 1rem;
    text-align: center;
}