body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(95, 198, 230);
}
nav{
    text-align: left;
    padding
}
  
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
  
header {
    text-align: center;
    padding: 40px 0;
}
  
h1, h2, h3 {
    color: white;
}
  
.education-experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}
  
.education, .experience {
    background-color: rgb(29, 131, 163);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.education{
    width: calc(50%-20px);
}  
.projects {
    margin-top: 40px;
}
  
.project {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}
  
.project-description {
    margin-bottom: 20px;
}
  
.project h3 {
    margin-bottom: 10px;
}
  
.project img {
    max-width: 100%;
    border-radius: 8px;
}
  

.skills {
    margin-top: 40px;
}
  
.skills ul {
    list-style-type: none;
}
  
.skills li {
    margin-bottom: 10px;
}
  

.links {
    margin-top: 40px;
}
  
.links a {
    text-decoration: none;
    color: #007BFF;
}
  
.links a:hover {
    text-decoration: underline;
}
  

.image {
    text-align: center;
    margin-top: 40px;
}
  
.image img {
    max-width: 100%;
    border-radius: 50%;
}
  
